.ch-template-center2rows {
    position: relative !important;
}

.md\:pt-sp160 {
    padding-top: 76px !important;
}

.sticky {
    z-index: 32332 !important;
}

@media (min-width: 769px) {
    .md\:pt-500 {
        padding-top: 40px !important;
    }
}

@media (min-width: 769px) {
    .md\:py-1000 {
        padding-top: 40px!important;
        padding-bottom: 40px!important;
    }
}